@charset "utf-8";
* {font-family: 'Montserrat', sans-serif; margin:0; box-sizing:border-box;}
body {margin: 0; padding: 0;}
ul,ol,li {list-style: none; margin: 0; padding: 0;}
a {text-decoration: none;}

/*헤더*/


header {width: 1250px; height: 180px; margin: 0 auto; display: flex; flex-direction: column; position: relative;}
header #logo {display: flex; justify-content: center; margin-top: 30px;}

header #login ul {display: flex; justify-content: flex-end; margin-top: -40px;}
header #login ul > li {margin: 10px;}
header #login ul > li > a {color: #666; text-transform: uppercase; font-size: 13px;}

header #icon {display: flex; justify-content: flex-end; margin-right: 20px;}
header #icon > img {cursor: pointer; margin: 5px; width: 25px; height: 25px;}
header #icon > img:hover {opacity: 0.5;}	

header > #navwrap {width: 100%;}
header > #navwrap > nav {width: 100%; margin: 0 auto;}
header > #navwrap > nav > #menu_list {display: flex; width: 100%; text-align: center; justify-content: center;}
header > #navwrap > nav > #menu_list > li {vertical-align: middle; height: 50px; text-transform: uppercase; margin: 20px;}
header > #navwrap > nav > #menu_list > li a {color: #000; font-size: 15px; font-weight: bold;}
header > #navwrap > nav > #menu_list > li:first > a {color: darred;}
header > #navwrap > nav > #menu_list > li a:hover {color: yellowgreen;}
header > #navwrap > nav > #menu_list > li:hover .subwrap {display: block; z-index: 2;}
header > #navwrap > nav > #menu_list > li:hover #sub > ul {display: flex; justify-content: space-around; padding: 20px;}

header .subwrap {width: 100%; position: absolute; top: 165px; left: 0; border: 2px solid #333; background-color: #fff; display: none;}
header .subwrap > #sub {width: 100%; margin: 0 auto;}
header .subwrap > #sub > ul {width: 100%; display: none;}
header .subwrap > #sub > ul li {vertical-align: middle; width: 30%; height: 400px; font-weight: bold; font-size: 20px;}

#submenu {width: 100px; text-align: left; margin: 20px 0 0 20px;}
#submenu > p {font-size: 13px; line-height: 30px; cursor: pointer;}
#submenu > p:hover {color: red;}

#imgmenu {display: flex; justify-content: space-around; margin-top: 10px; position: relative;}
#imgmenu > img {width: 30%; height: auto; cursor: pointer;}
#imgmenu > img:hover {border: 2px solid #333;}

#count {position: absolute; top: 40%; left: 45%; font-size: 40px; opacity: 0.7; color: #fff; text-shadow: -2px 0px #000, 0px 2px #000, 2px 0px #000, 0px -2px #000;}

.submenu2 {width: 100px; text-align: left; margin: 20px 0 0 20px;}
.submenu2 > p {font-size: 16px; line-height: 30px; cursor: pointer;}
.submenu2 > p:hover {color: red;}

.imgmenu2 {margin-top: 10px;}
.imgmenu2 > img {width: 40%; cursor: pointer;}
.imgmenu2 > img:hover {border: 2px solid #333;}

.imgmenu2 > p {text-align: right; font-size: 13px; margin: 30px 20px 0 0; text-transform: none; cursor: pointer;}
.imgmenu2 > p:hover {color: red;}

#search_box {width: 100%; height: 80px; margin: 0 auto; display: flex; justify-content: center; align-items: center; border-top: 1px solid #ddd; background: #fff; position: absolute; z-index: 1;}
#search_box > div {display: flex; align-items: center;}
#search_box > div > input {width: 300px; height: 35px; margin-right: 10px; outline: none; border: none; border-bottom: 2px solid #333 ; text-align: center;}
#search_box > div > input::placeholder {color: #666;}
#search_box > div > span > img {width: 25px; height: 25px; cursor: pointer; margin-left: 10px;}
#search_box > div > span > img:hover {opacity: 0.5;}



/*풋터*/
footer {width: 100%; height: 300px; margin: 0 auto; background-color: #F6F6F6;}
footer > #footerbox {width: 1250px; height: 190px; margin: 0 auto;}
footer > #footerbox > hr {background-color: #C0C0C0;}


footer > #footerbox > #footerbox2 {width: 650px; height: 190px; display: inline-block; float: left; margin: 0 0 0 20px;}
footer > #footerbox > #footerbox2 > #footerlogo {width: 105px; height: 25px; margin: 30px 0px 15px;}
footer > #footerbox > #footerbox2 > #footerlogo > img {width: 100%; height: 100%;}
footer > #footerbox > #footerbox2 > p {font-size: 12px; color: #666; font-family: sans-serif;}
footer > #footerbox > #footerbox2 > p > a {text-decoration: none; color: #333;}
footer > #footerbox > #footerbox2 > ul > b {font-size: 11px; float: left; margin: 20px 3px 0 0px; font-family: sans-serif;}
footer > #footerbox > #footerbox2 > ul > b > li > a {text-decoration: none; color: #333;}
footer > #footerbox > #footerbox2 > ul > li {font-size: 11px; float: left; margin: 20px 6px 0 0px; font-family: sans-serif; color: #9C9C9C;}
footer > #footerbox > #footerbox2 > ul > li > a {text-decoration: none; color: #666;}


footer > #footerbox > #footerbox3 {width: 550px; height: 190px; display: inline-block; float: right; margin: 0px 30px 0 0px;}
footer > #footerbox > #footerbox3 > .box {width: 140px; height: 150px; display: inline-block; float: left; margin: 60px 0px 0px 90px;}
footer > #footerbox > #footerbox3 > .box > h4 {text-transform: uppercase; font-size: 15px; margin: 0 0 10px 0px;}
footer > #footerbox > #footerbox3 > .box > ul > li > a {text-decoration: none; color: #666; font-family: sans-serif; font-size: 12px; text-transform: uppercase; font-weight: bold;}
footer > #footerbox > #footerbox3 > .box > ul > li > a:hover {color: #000;}
footer > #footerbox > #footerbox3 > .box > a > img {width: 40px; height: 40px;}
footer > #footerbox > #footerbox3 > .box > a > img:hover {opacity: 0.5;}

footer > #footerbox > #footerbox4 {width: 1200px; height: 100px; margin: 0 auto; float: left; border-top: 1px solid #ddd;}
footer > #footerbox > #footerbox4 > p {color: #666; font-family: sans-serif; font-size: 11px; margin: 20px;}